<mat-toolbar>
  <header>
    <span>Angular Wookie Movies</span>

    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies" routerLinkActive="active"
          >Movies</a
        >
      </li>
    </ul>

    <form class="position-relative">
      <input
        class="form-control"
        placeholder="Search movie..."
        name="search"
        [(ngModel)]="searchKeyword"
        (ngModelChange)="this.search$.next()"
      />

      <div class="dropdown-menu d-block" *ngIf="results?.length">
        <a
          class="dropdown-item"
          *ngFor="let movie of results"
          [routerLink]="['movies', movie.slug]"
          >{{ movie.title }}</a
        >
      </div>
    </form>
  </header>
</mat-toolbar>
